{% extends 'base.html' %}
{% block content %}

<div id="atDashboard"></div>

<div class="card-deck" id="dashboard">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-1">
                <div class="card card-chart w-100">
                    <div class="card-header">Overall</div>
                    <div class="card-body">
                            <canvas class="w-75 h-75 m-auto" id="overallChart"></canvas>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <h2>Overall Score: [$ overallScore $]%</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mb-1">
                <div class="card card-chart w-100">
                    <div class="card-header">Profitability</div>
                    <div class="card-body">
                        <canvas id="profitChart"></canvas>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <h2>Profitability Score: [$ profitabilityScore $]%</h2>
                            <a href="{% url 'profit_pillars' %}" class="btn btn-success btn-sm" style="border-radius: 15px;">Go To Profitability</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6 col-sm-12 mb-1">
                <div class="card card-chart w-100">
                    <div class="card-header">Asset</div>
                    <div class="card-body">
                        <canvas id="assetChart"></canvas>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <h2>Asset Score: [$ assetScore $]%</h2>
                            <a href="{% url 'asset_pillars' %}" class="btn btn-success btn-sm" style="border-radius: 15px;">Go To Asset</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-sm-12">
                <div class="card card-chart w-100">
                    <div class="card-header">Cash</div>
                    <div class="card-body">
                        <canvas id="cashChart"></canvas>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <h2>Cash Score: [$ cashScore $]%</h2>
                            <a href="{% url 'cash_pillars' %}" class="btn btn-success btn-sm" style="border-radius: 15px;">Go To Cash</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6 col-sm-12">
                <div class="card card-chart w-100">
                    <div class="card-header">Liquidity</div>
                    <div class="card-body">
                        <canvas id="liquidityChart"></canvas>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <h2>Liquidity Score: [$ liquidityScore $]%</h2>
                            <a href="{% url 'liquidity_pillars' %}" class="btn btn-success btn-sm" style="border-radius: 15px;">Go To Liquidity</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
