{% extends 'base.html' %}
{% block content %}

<div id="atDashboard"></div>

<div class="card-deck">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 mb-1">
                <div class="card card-chart w-100">
                    <div class="card-header">Profit</div>
                    <div class="card-body">
                        <canvas id="profitChart"></canvas>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6 col-sm-12 mb-1">
                <div class="card card-chart w-100">
                    <div class="card-header">Asset</div>
                    <div class="card-body">
                        <canvas id="assetChart"></canvas>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-sm-12">
                <div class="card card-chart w-100">
                    <div class="card-header">Cash</div>
                    <div class="card-body">
                        <canvas id="cashChart"></canvas>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6 col-sm-12">
                <div class="card card-chart w-100">
                    <div class="card-header">Liquidity</div>
                    <div class="card-body">
                        <canvas id="liquidityChart"></canvas>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                            <a href="#" class="btn btn-success btn-sm" style="border-radius: 15px;">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
