{% extends 'base.html' %}
{% block content %}

<div id="atDashboard"></div>

<div class="card-deck" id="dashboard">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-1">
                <div class="card card-chart w-100">
                    <div class="card-header">Overall</div>
                    <div class="card-body">
                        <div id="overallChart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mb-1">
                <div class="card card-chart w-100">
                    <div class="card-header">Profitability</div>
                    <div class="card-body">
                        <div id="profitChart"></div>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="{% url 'profit_pillars' %}" class="btn btn-success btn-sm" style="border-radius: 15px;">Go To Profitability</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6 col-sm-12 mb-1">
                <div class="card card-chart w-100">
                    <div class="card-header">Asset</div>
                    <div class="card-body">
                        <div id="assetChart"></div>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="{% url 'asset_pillars' %}" class="btn btn-success btn-sm" style="border-radius: 15px;">Go To Asset</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-sm-12">
                <div class="card card-chart w-100">
                    <div class="card-header">Cash</div>
                    <div class="card-body">
                        <div id="cashChart"></div>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="{% url 'cash_pillars' %}" class="btn btn-success btn-sm" style="border-radius: 15px;">Go To Cash</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6 col-sm-12">
                <div class="card card-chart w-100">
                    <div class="card-header">Liquidity</div>
                    <div class="card-body">
                        <div id="liquidityChart"></div>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="{% url 'liquidity_pillars' %}" class="btn btn-success btn-sm" style="border-radius: 15px;">Go To Liquidity</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
