{%load static%}
<!doctype html>
<html lang="en">
    <head>
        <title>Maia</title>
        <link rel="icon" href="../static/assets/img/icons8-circled-m-50.png">
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!--  Fonts and icons  -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

        <!-- Black Dashboard CSS -->
        <link href="{%static 'assets/css/black-dashboard.css'%}" rel="stylesheet" />
        <link href="{%static '/assets/demo/charts.css'%}" rel="stylesheet">
    </head>
    <body style="background-color: azure;">
        <style>
            label {
                color: black !important;
            }

            .btn:hover {
                color: #344675 !important;
                text-decoration: none;
            }
        </style>
        {% csrf_token %}
        <a href="{% url 'logout' %}" class="btn btn-warning pull-right btn-sm" id="logoutbutton" style="margin-right: 2vh; z-index: 999;">
            <i class="fas fa-sign-out-alt" style="font-size: 1rem; margin: 0; padding: 5px 5px 5px 5px;"></i>
        </a>
        <div class="container" style="margin-top: 3vh;">
            <div class="row">
                <div class="container col-md-5">
                    <div style="margin-top: 20vh;">
                        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_lO12qW.json"  background="transparent"  speed="1"  style="height: 300px;"  loop  autoplay></lottie-player>
                        <p style="font-size: 1.0rem; text-align: center;" class="text-dark">
                            Please Provide Us With Some Financial Data
                            <br>So That We Can Help You Analyse On Your Company
                            <br>Performance, Business Value, Productivity, And Risk
                        </p>

                    </div>
                </div>
                <div id=financial_data_forms class="container col-md-7">
                    <div id="accordion" style="margin-top: 13vh;">
                        <button @click="submit_financial_data_record" class="btn btn-success btn-sm pull-right">Submit Record</button>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">Quater 1 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse1" class="show collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="revenue">Revenue (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="revenue" :class=" [{ 'border-danger': user_financial_data.q1_revenue === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q1_revenue'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="profit_b4_tax" :class=" [{ 'border-danger': user_financial_data.q1_profit_before_tax === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q1_profit_before_tax'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="net_profit">Net Profit (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_profit" :class=" [{ 'border-danger': user_financial_data.q1_net_profit === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q1_net_profit'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="net_cash_flow">Net Cash Flow (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_cash_flow" :class=" [{ 'border-danger': user_financial_data.q1_net_cash_flow === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q1_net_cash_flow'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">Quater 2 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="revenue">Revenue (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="revenue" :class=" [{ 'border-danger': user_financial_data.q2_revenue === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q2_revenue'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="profit_b4_tax" :class=" [{ 'border-danger': user_financial_data.q2_profit_before_tax === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q2_profit_before_tax'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="net_profit">Net Profit (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_profit" :class=" [{ 'border-danger': user_financial_data.q2_net_profit === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q2_net_profit'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="net_cash_flow">Net Cash Flow (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_cash_flow" :class=" [{ 'border-danger': user_financial_data.q2_net_cash_flow === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q2_net_cash_flow'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">Quater 3 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="revenue">Revenue (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="revenue" :class=" [{ 'border-danger': user_financial_data.q3_revenue === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q3_revenue'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="profit_b4_tax" :class=" [{ 'border-danger': user_financial_data.q3_profit_before_tax === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q3_profit_before_tax'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="net_profit">Net Profit (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_profit" :class=" [{ 'border-danger': user_financial_data.q3_net_profit === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q3_net_profit'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="net_cash_flow">Net Cash Flow (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_cash_flow" :class=" [{ 'border-danger': user_financial_data.q3_net_cash_flow === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q3_net_cash_flow'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">Quater 4 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="revenue">Revenue (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="revenue" :class=" [{ 'border-danger': user_financial_data.q4_revenue === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q4_revenue'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="profit_b4_tax" :class=" [{ 'border-danger': user_financial_data.q4_profit_before_tax === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q4_profit_before_tax'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="net_profit">Net Profit (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_profit" :class=" [{ 'border-danger': user_financial_data.q4_net_profit === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q4_net_profit'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label for="net_cash_flow">Net Cash Flow (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_cash_flow" :class=" [{ 'border-danger': user_financial_data.q4_net_cash_flow === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.q4_net_cash_flow'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseOne">Yearly Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <fieldset>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="yearly_revenue">Yearly Revenue (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="yearly_revenue" :class=" [{ 'border-danger': user_financial_data.yearly_revenue === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.yearly_revenue'>

                                                    <label for="yearly_net_profit">Yearly Net Profit (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="yearly_net_profit" :class=" [{ 'border-danger': user_financial_data.yearly_net_profit === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.yearly_net_profit'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="cash">Cash (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="cash" :class=" [{ 'border-danger': user_financial_data.cash === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.cash'>

                                                    <label for="net_assets">Net Asset (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="net_assets" :class=" [{ 'border-danger': user_financial_data.net_assets === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.net_assets'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="debt">Debt (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="debt" :class=" [{ 'border-danger': user_financial_data.debt === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.debt'>

                                                    <label for="total_debt">Total Debt (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="total_debt" :class=" [{ 'border-danger': user_financial_data.total_debt === '' }, {'form-control': true}]" style="width: 100% !important;"  v-model='user_financial_data.total_debt'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="total_liability">Total Liability (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="debt" :class=" [{ 'border-danger': user_financial_data.total_liability === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.total_liability'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="shareholder_equity">Shareholder Equity (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="shareholder_equity" :class=" [{ 'border-danger': user_financial_data.shareholder_equity === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.shareholder_equity'>
                                                </div>
                                            </fieldset>

                                            <hr class="border border-light">

                                            <fieldset>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="current_ratio">Current Ratio</label>
                                                    <input type="number" onClick="this.select();" name="current_ratio" :class=" [{ 'border-danger': user_financial_data.current_ratio === '' }, {'form-control': true}]" style="width: 100% !important;"  v-model='user_financial_data.current_ratio'>

                                                    <label for="return_on_asset">Return On Asset</label>
                                                    <input type="number" onClick="this.select();" name="return_on_asset" :class=" [{ 'border-danger': user_financial_data.return_on_asset === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.return_on_asset'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="quick_ratio">Quick Ratio</label>
                                                    <input type="number" onClick="this.select();" name="quick_ratio" :class=" [{ 'border-danger': user_financial_data.quick_ratio === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.quick_ratio'>

                                                    <label for="asset_turn_over_ratio">Asset Turn Over Ratio</label>
                                                    <input type="number" onClick="this.select();" name="asset_turn_over_ratio" :class=" [{ 'border-danger': user_financial_data.asset_turn_over_ratio === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.asset_turn_over_ratio'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="cash_ratio">Cash Ratio</label>
                                                    <input type="number" onClick="this.select();" name="cash_ratio" :class=" [{ 'border-danger': user_financial_data.cash_ratio === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.cash_ratio'>

                                                    <label for="debt_to_asset_ratio">Debt To Asset Ratio</label>
                                                    <input type="number" onClick="this.select();" name="debt_to_asset_ratio" :class=" [{ 'border-danger': user_financial_data.debt_to_asset_ratio === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.debt_to_asset_ratio'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="net_tangeble_asset">Net Tangable Asset</label>
                                                    <input type="number" onClick="this.select();" name="net_tangeble_asset" :class=" [{ 'border-danger': user_financial_data.net_tangeble_asset === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.net_tangeble_asset'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="return_on_equity">Return on Equity (Percentage)</label>
                                                    <input type="number" onClick="this.select();" name="return_on_equity" :class=" [{ 'border-danger': user_financial_data.return_on_equity === '' }, {'form-control': true}]" style="width: 100% !important;" v-model='user_financial_data.return_on_equity'>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="globalLoader" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style='background-color: rgba(0,0,0,0) !important;'>
                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_ObshHL.json"  background="rgba(0, 0, 0, 0)"  speed="1"  loop  autoplay></lottie-player>
              </div>
            </div>
        </div>

        <script src="{% static "/assets/js/controller/financial_data_controller.js" %}" type="text/javascript"></script>
        <script src="{%static "/assets/js/core/jquery.min.js"%}" type="text/javascript"></script>
        <script src="{%static "/assets/js/core/popper.min.js"%}" type="text/javascript"></script>
        <script src="{%static "/assets/js/core/bootstrap.min.js"%}" type="text/javascript"></script>
        <script src="{%static "/assets/js/plugins/perfect-scrollbar.jquery.min.js"%}"></script>
        <script src="{%static "/assets/js/plugins/bootstrap-notify.js"%}"></script>
        <script src="{%static "/assets/js/black-dashboard.js"%}"></script>
        <script src="https://kit.fontawesome.com/f74f23e45d.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </body>