{% extends 'base.html' %}
{%load static%}
{% block content %}
    <h1>News Sentiment</h1>
    <div class="card-column" id="news_sentiment">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Overall Score</h5>
            </div>
            <div class="card-body">
                <div id="newsSentimentChart"></div>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <tr>
            <th style="width: 60%;">Title</th>
            <th style="width: 20%;">Sentiment Score</th>
            <th style="width: 20%;">Magnitude</th>
        </tr>
        <tr>
            <td>This is a test data</td>
            <td>-1</td>
            <td>0.6</td>
        </tr>
    </table>
{% endblock %}