{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card-deck">
        <div class="row">
            <div class="col-lg-4 col-sm-12 mb-1">
                <div class="card card-chart w-100">
                    <img src="/static/assets/img/kaejiunn2.jpg" alt="Tee Kae Jiunn Photo" class="img-fluid img-thumbnail card-img-top" style="width: 340px; margin-left: 5px;">
                    <div class="card-body mb-4">
                        <div class="text-dark card-title" style="font-size: 23px;">Tee Kae Jiunn</div>
                        <div class="text-dark" style="font-size: 20px;">Role</div>
                        <ul>
                            <li class="text-dark">Fullstack Developer</li>
                            <li class="text-dark">Backend Developer</li>
                        </ul>
                        <div class="text-dark" style="margin-top: 30px;">Email: bobbytee725@hotmail.com</div>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="https://www.linkedin.com/in/kaejiunn/" class="btn btn-success btn-sm" style="border-radius: 15px;">LinkedIn Profile</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 mb-1">
                <div class="card card-chart w-100">
                    <img src="/static/assets/img/aakash.jpg" alt="Aakash Suppiah Monogran Photo" class="card-img-top img-fluid img-thumbnail" style="width: 340px; margin-left: 5px;">
                    <div class="card-body mb-4">
                        <div class="text-dark card-title" style="font-size: 23px;">Aakash Suppiah Monogran</div>
                        <div class="text-dark" style="font-size: 20px;">Role</div>
                        <ul>
                            <li class="text-dark">Machine Learning Developer</li>
                            <li class="text-dark">Backend Developer</li>
                        </ul>
                        <div class="text-dark" style="margin-top: 30px;">Email: akh369@gmail.com</div>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="https://www.linkedin.com/in/aakash-suppiah-manogran-4928931a6/" class="btn btn-success btn-sm" style="border-radius: 15px;">LinkedIn Profile</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 mb-1">
                <div class="card card-chart w-100">
                    <img src="/static/assets/img/koksheng.jpg" alt="Ng Kok Sheng Photo" class="img-fluid img-thumbnail card-img-top" style="width: 329px; margin-left: 10px;">
                    <div class="card-body mb-4">
                        <div class="text-dark card-title" style="font-size: 23px;">Ng Kok Sheng</div>
                        <div class="text-dark" style="font-size: 20px;">Role</div>
                        <ul>
                            <li class="text-dark">Machine Learning Developer</li>
                            <li class="text-dark">Backend Developer</li>
                        </ul>
                        <div class="text-dark" style="margin-top: 30px;">Email: NgKokSheng1999@gmail.com</div>
                    </div>
                    <div class="card-footer">
                        <div align=center>
                            <a href="https://www.linkedin.com/in/ngkoksheng/" class="btn btn-success btn-sm" style="border-radius: 15px;">LinkedIn Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}