{% extends 'base.html' %}
{%load static%}
{% block content %}

    <style>
        thead, tbody { display: block; }

        tbody {
            height: 100px;       /* Just for the demo          */
            overflow-y: auto;    /* Trigger vertical scroll    */
            overflow-x: hidden;  /* Hide the horizontal scroll */
        }

        option { 
            /* Whatever color  you want */
            background-color: #525f7f;
        }
    </style>
    
    <div class="container" id="user_profile">
        {% csrf_token %}
        <div class="row">
            <form class="col-12">
                <fieldset>
                    <legend class="text-dark">User Infomation:</legend>
                    <div class="row">
                        <div class="col-6">
                            <label class="text-dark" for="fname">First Name:</label>
                            <input class="form-control mb-2 text-white" type="text" id="fname" name="fname" v-model= "profile_data.firstName" readonly>
                            <label class="text-dark" for="lname">Email:</label>
                            <input class="form-control mb-2 text-white" type="text" id="lname" name="lname" v-model= "profile_data.email" readonly>
                            <label class="text-dark" for="companyName">Company Name:</label>
                            <input class="form-control mb-2 text-white" type="email" id="companyName" name="companyName" v-model= "profile_data.companyName" readonly>
                            <label class="text-dark" for="address1">Address 1:</label>
                            <input class="form-control mb-2 text-white" type="text" id="address1" name="address1" v-model= "profile_data.address1" readonly>
                            <label class="text-dark" for="city">City:</label>
                            <input class="form-control mb-2 text-white" type="text" id="city" name="city" v-model= "profile_data.city" readonly>
                        </div>
                        <div class="col-6">
                            <label class="text-dark" for="lname">Last Name:</label>
                            <input class="form-control mb-2 text-white" type="text" id="lname" name="lname" v-model= "profile_data.lastName" readonly>
                            <label class="text-dark" for="company_size">Company Size:</label>
                            <input class="form-control mb-2 text-white" type="text" id="company_size" name="company_size" v-model= "profile_data.company_size_value" readonly>
                            <label class="text-dark" for="industryName">Industry Name:</label>
                            <input class="form-control mb-2 text-white" type="text" id="industryName" name="industryName" v-model= "profile_data.industryName" readonly>
                            <label class="text-dark" for="address2">Address 2:</label>
                            <input class="form-control mb-2 text-white" type="text" id="address2" name="address2" v-model= "profile_data.address2" readonly>
                            <label class="text-dark" for="zipCode">Zip Code:</label>
                            <input class="form-control mb-2 text-white" type="text" id="zipCode" name="zipCode" v-model= "profile_data.zipCode" readonly>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="col-12 mb-3">
                <div class="card-deck">
                    <div class="card col-6">
                        <i class="far fa-id-badge align-self-center pt-3 pb-3 fa-10x" aria-hidden="true"></i>
                        <div class="card-body align-self-center">  
                            <button @click="openEditUserProfileModal()" class="btn btn-lg btn-dark">Edit User Information</button>  
                        </div>
                    </div>
                    <div class="card col-6">
                        <i class="far fa-newspaper align-self-center pt-3 pb-3 fa-10x" aria-hidden="true"></i>
                        <div class="card-body align-self-center">  
                            <button @click='openQuestionaireSelectModel()' class="btn btn-lg btn-dark">Edit Questionair</button>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card-deck">
                    <div class="card col-6">
                        <i class="fas fa-shopping-cart align-self-center pt-3 pb-3 fa-10x" aria-hidden="true"></i>
                        <div class="card-body align-self-center">
                            <button @click="openPaymentHistoryModal()" class="btn btn-lg btn-dark">Payment History</button> 
                        </div>
                    </div>
                    <div class="card col-6">
                        <i class="fa fa-file-pdf align-self-center pt-3 pb-3 fa-10x" aria-hidden="true"></i>
                        <div class="card-body align-self-center">  
                            <button @click="getPurchasedReport()" class="btn btn-lg btn-dark">Purchased Report</button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="paymentHistory" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document" style="width: 59vh; max-width: 100vh;">
              <div class="modal-content" style="color: azure;">
                <div class="modal-header">
                  <h2 class="modal-title text-dark">Payment History</h5>
                </div>
                <div class="modal-body" style="height: 35vh; max-height: 35vh;">
                  <table class="table" style="width: 100%;">
                    <tbody style="height: 31vh; padding-left: 5vh;">
                    <tr>
                        <th class="text-dark" style="width: 20%; text-align: center;">Amount</th>
                        <th class="text-dark" style="width: 20%; text-align: center;">Currency</th>
                        <th class="text-dark" style="width: 60%; text-align: center;">Data</th>
                        </tr>
                        <tr v-for="history in payment_history">
                        <td class="text-dark" style="text-align: center;">[$ history.charges $]</td>
                        <td class="text-dark" style="text-transform: uppercase; text-align: center;">[$ history.currency $]</td>
                        <td class="text-dark" style="text-align: center;">[$ history.created $]</td>
                        </tr>
                    </tbody>
                    
                  </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="editUserProfile" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document" style="width: 80vh; max-width: 100vh;">
              <div class="modal-content" style="color: azure;">
                <div class="modal-header">
                  <h2 class="modal-title text-dark">Edit Profile</h5>
                </div>
                <div class="modal-body mb-2">
                    <div class="row">
                        <form class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <label class="text-dark" for="fname">First Name: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.firstName == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-dark': true}]" type="text" id="fname" name="fname" v-model= "profile_edit.firstName">
                                    <label class="text-dark" for="fname">Email: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.email == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-dark': true}]" type="text" id="fname" name="fname" v-model= "profile_edit.email" required>
                                    <label class="text-dark" for="companyName">Company Name: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.companyName == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-dark': true}]" type="text" id="companyName" name="companyName" v-model= "profile_edit.companyName" required>
                                    <label class="text-dark" for="address1">Address 1: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.address1 == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-dark': true}]" type="text" id="address1" name="address1" v-model= "profile_edit.address1" required>
                                    <label class="text-dark" for="city">City: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.city == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-dark': true}]" type="text" id="city" name="city" v-model= "profile_edit.city" required>
                                </div>
                                <div class="col-6">
                                    <label class="text-dark" for="lname">Last Name: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.lastName == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-dark': true}]" type="text" id="lname" name="lname" v-model= "profile_edit.lastName">
                                    <label class="text-dark" for="industryName">Industry Name: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.industryName == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-white': true}]" type="text" id="industryName" name="industryName" v-model= "profile_edit.industryName" readonly required>
                                    <label class="text-dark" for="company_size">Company Size:</label>
                                    <select :class=" [{'border': true}, {'form-control': true}, {'mb-2': true}, {'text-dark': true}]" name="company_size" id="company_size" v-model="profile_edit.company_size" required>
                                        <option value="MC">Micro</option>
                                        <option value="SM">Small</option>
                                        <option value="MD">Medium</option>
                                    </select>
                                    <label class="text-dark" for="address2">Address 2:</label>
                                    <input :class=" [{'border': true}, {'form-control': true}, {'mb-2': true}, {'text-dark': true}]" type="text" id="address2" name="address2" v-model= "profile_edit.address2">
                                    <label class="text-dark" for="zipCode">Zip Code: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.zipCode == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-dark': true}]" type="text" id="zipCode" name="zipCode" v-model= "profile_edit.zipCode" required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                    <button type="button" @click="validateAllField()" class="btn btn-secondary">Submit</button> 
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="questionaireSelect" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="max-width: 100vh; margin-top: 15vh;">
              <div class="modal-content" style="color: azure;">
                <div class="modal-body mb-2">
                    <div class="row">
                        <div class="card-deck col-12" style="margin: auto;">
                            <div class="card col-6">
                                <i class="fas fa-money-bill-wave align-self-center pt-3 pb-3 fa-10x" style="color: #526597;" aria-hidden="true"></i>
                                <div class="card-body align-self-center">
                                    <button @click='getFinancialData()' class="btn btn-lg btn-dark">Edit Financial Data</button> 
                                </div>
                            </div>
                            <div class="card col-6">
                                <i class="fas fa-sort-amount-down align-self-center pt-3 pb-3 fa-10x" style="color: #526597;" aria-hidden="true"></i>
                                <div class="card-body align-self-center">  
                                    <button @click='getQuestionaireData()' class="btn btn-lg btn-dark">Edit Qualitative Data</button>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="editFinancialData" tabindex="-1" role="dialog" style="overflow: auto;" data-backdrop="static">
            <div class="modal-dialog" role="document" style="max-width: 100vh; max-height: 0vh;">
              <div class="modal-content" style="color: azure;">
                <div class="modal-header">
                  <h2 class="modal-title text-dark">Edit Financial Data</h5>
                </div>
                <div class="modal-body mb-2">
                    <div id="accordion">
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">Quater 1 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse1" class="show collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="revenue">Revenue (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="revenue" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q1_revenue'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="profit_b4_tax" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q1_profit_before_tax'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="net_profit">Net Profit (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="net_profit" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q1_net_profit'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label class="text-dark" for="net_cash_flow">Net Cash Flow (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="net_cash_flow" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q1_net_cash_flow'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">Quater 2 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="revenue">Revenue (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="revenue" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q2_revenue'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="profit_b4_tax" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q2_profit_before_tax'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="net_profit">Net Profit (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="net_profit" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q2_net_profit'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label class="text-dark" for="net_cash_flow">Net Cash Flow (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="net_cash_flow" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q2_net_cash_flow'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">Quater 3 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="revenue">Revenue (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="revenue" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q3_revenue'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="profit_b4_tax" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q3_profit_before_tax'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="net_profit">Net Profit (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="net_profit" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q3_net_profit'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label class="text-dark" for="net_cash_flow">Net Cash Flow (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="net_cash_flow" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q3_net_cash_flow'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">Quater 4 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="revenue">Revenue (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="revenue" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q4_revenue'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="profit_b4_tax" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q4_profit_before_tax'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label class="text-dark" for="net_profit">Net Profit (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="net_profit" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q4_net_profit'>
                                            </div>
                                            <div class="col-3 d-inline-block input-group">
                                                <label class="text-dark" for="net_cash_flow">Net Cash Flow (Thousand)</label>
                                                <input class="text-dark" type="number" onClick="this.select();" name="net_cash_flow" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q4_net_cash_flow'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseOne">Yearly Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <fieldset>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label class="text-dark" for="yearly_revenue">Yearly Revenue (Thousand)</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="yearly_revenue" class="form-control" style="width: 100% !important;" v-model='user_financial_data.yearly_revenue'>

                                                    <label class="text-dark" for="yearly_net_profit">Yearly Net Profit (Thousand)</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="yearly_net_profit" class="form-control" style="width: 100% !important;" v-model='user_financial_data.yearly_net_profit'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label class="text-dark" for="cash">Cash (Thousand)</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="cash" class="form-control" style="width: 100% !important;" v-model='user_financial_data.cash'>

                                                    <label class="text-dark" for="net_assets">Net Asset (Thousand)</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="net_assets" class="form-control" style="width: 100% !important;" v-model='user_financial_data.net_assets'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label class="text-dark" for="debt">Debt (Thousand)</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="debt" class="form-control" style="width: 100% !important;" v-model='user_financial_data.debt'>

                                                    <label class="text-dark" for="total_debt">Total Debt (Thousand)</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="total_debt" class="form-control" style="width: 100% !important;"  v-model='user_financial_data.total_debt'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label class="text-dark" for="total_liability">Total Liability (Thousand)</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="debt" class="form-control" style="width: 100% !important;" v-model='user_financial_data.total_liability'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label class="text-dark" for="shareholder_equity">Shareholder Equity (Thousand)</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="shareholder_equity" class="form-control" style="width: 100% !important;" v-model='user_financial_data.shareholder_equity'>
                                                </div>
                                            </fieldset>

                                            <hr class="border border-light">

                                            <fieldset>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label class="text-dark" for="current_ratio">Current Ratio</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="current_ratio" class="form-control" style="width: 100% !important;"  v-model='user_financial_data.current_ratio'>

                                                    <label class="text-dark" for="return_on_asset">Return On Asset</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="return_on_asset" class="form-control" style="width: 100% !important;" v-model='user_financial_data.return_on_asset'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label class="text-dark" for="quick_ratio">Quick Ratio</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="quick_ratio" class="form-control" style="width: 100% !important;" v-model='user_financial_data.quick_ratio'>

                                                    <label class="text-dark" for="asset_turn_over_ratio">Asset Turn Over Ratio</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="asset_turn_over_ratio" class="form-control" style="width: 100% !important;" v-model='user_financial_data.asset_turn_over_ratio'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label class="text-dark" for="cash_ratio">Cash Ratio</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="cash_ratio" class="form-control" style="width: 100% !important;" v-model='user_financial_data.cash_ratio'>

                                                    <label class="text-dark" for="debt_to_asset_ratio">Debt To Asset Ratio</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="debt_to_asset_ratio" class="form-control" style="width: 100% !important;" v-model='user_financial_data.debt_to_asset_ratio'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label class="text-dark" for="net_tangeble_asset">Net Tangable Asset</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="net_tangeble_asset" class="form-control" style="width: 100% !important;" v-model='user_financial_data.net_tangeble_asset'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label class="text-dark" for="return_on_equity">Return on Equity (Percentage)</label>
                                                    <input class="text-dark" type="number" onClick="this.select();" name="return_on_equity" class="form-control" style="width: 100% !important;" v-model='user_financial_data.return_on_equity'>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                    <button type="button" @click="updateFinancialData()" class="btn btn-secondary">Submit</button> 
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="purchasedReport" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document" style="width: 80vh; max-width: 100vh;">
              <div class="modal-content" style="color: azure;">
                <div class="modal-header">
                  <h2 class="modal-title text-dark">Purchased Report</h5>
                </div>
                <div class="modal-body" style="height: 35vh;">
                  <table class="table" style="width: 100%;">
                    <tbody style="height: 31vh;">
                        <tr>
                            <th class="text-dark" style="width: 70%; text-align: center;">Putchased Date</th>
                            <th class="text-dark" style="width: 30%; text-align: center;">URL</th>
                          </tr>
                          <tr v-for="report in user_purchased_report">
                            <td class="text-dark" style="text-align: center;">[$ report.purchaseDate $]</td>
                            <td class="text-dark" style="text-transform: uppercase; text-align: center;"><button class="btn btn-info btn-md" @click="openReport(report.url)"><i class="fas fa-file-download mr-2"></i>DOWNLOAD</button></td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="editQuestionaireData" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document" style="width: 80vh; max-width: 100vh;">
              <div class="modal-content" style="color: azure;">
                <div class="modal-header">
                  <h2 class="modal-title text-dark">Edit Questionaire Data</h5>
                </div>
                <div class="modal-body">
                    <p align=center class="text-dark">1-Strongly Disagree 2-Disagree 3-Neutral 4-Agree 5-Strongly Agree</p>
                    <table style="width: 100%;  color:#000;" v-if="pageNumber == 1">
                        <tbody style="height: 100%;">
                            <tr>
                                <th class="text-dark" style="width: 80%;">Questions</th>
                                <th class="text-dark" style="width: 20%;">Rating</th>
                            </tr>
                            <tr class="pb-3">
                                <td class="text-dark">1)	I have a diversified portfolio of products and services.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set1Q1"></td>
                            </tr>
                            <tr class="pb-3">
                                <td class="text-dark">2)	I have plans that I cannot put into action because I am short of resources.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set1Q2"></td>
                            </tr>
                            <tr class="pb-3">
                                <td class="text-dark">3)	My products yield high volume but low margins.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set1Q3"></td>
                            </tr>
                            <tr class="pb-3">
                                <td class="text-dark">4)	I prefer to focus my effort on a niche market – by location or customer.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set1Q4"></td>
                            </tr>
                            <tr class="pb-3">
                                <td class="text-dark">5)	At least 80% of my sales come from a few customers.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set1Q5"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%;  color:#000;" v-if="pageNumber == 2">
                        <tbody style="height: 100%;">
                            <tr>
                                <th style="width: 80%;">Questions</th>
                                <th style="width: 20%;">Rating</th>
                            </tr>
                            <tr>
                                <td>1)	I need a bank loan to finance my ongoing business operations.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set2Q1"></td>
                            </tr>
                            <tr>
                                <td>2)	I need funding to help innovate my business process.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set2Q2"></td>
                            </tr>
                            <tr>
                                <td>3)	I am looking for external funding to create a new business.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set2Q3"></td>
                            </tr>
                            <tr>
                                <td>4)	I require funding to expand my business overseas.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set2Q4"></td>
                            </tr>
                            <tr>
                                <td>5)	A bank loan or subsidy would help my business greatly in its current stage.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set2Q5"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%; color:#000;" v-if="pageNumber == 3">
                        <tbody style="height: 100%;">
                            <tr>
                                <th style="width: 80%;">Questions</th>
                                <th style="width: 20%;">Rating</th>
                            </tr>
                            <tr>
                                <td>1)	I need ideas and advice on how to develop new products.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set3Q1"></td>
                            </tr>
                            <tr>
                                <td>2)	I will explore new ways of doing business within the next 2 months.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set3Q2"></td>
                            </tr>
                            <tr>
                                <td>3)	I tend to use IT to innovate process.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set3Q3"></td>
                            </tr>
                            <tr>
                                <td>4)	New conditions and factors are encouraging me to innovate my business.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set3Q4
                                    "></td>
                            </tr>
                            <tr>
                                <td>5)	I am open to trying new processes, services or products for my business.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set3Q5"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%;  color:#000;" v-if="pageNumber == 4">
                        <tbody style="height: 100%;">
                            <tr>
                                <th style="width: 80%;">Questions</th>
                                <th style="width: 20%;">Rating</th>
                            </tr>
                            <tr>
                                <td>1)	I would like to take part in more networking sessions to increase my market knowledge.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set4Q1"></td>
                            </tr>
                            <tr>
                                <td>2)	I use online networks and portals to promote my business.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set4Q2"></td>
                            </tr>
                            <tr>
                                <td>3)	I need help to access new markets or customers via the internet.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set4Q3"></td>
                            </tr>
                            <tr>
                                <td>4)	I rely heavily on agents, distributors or resellers.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set4Q4"></td>
                            </tr>
                            <tr>
                                <td>5)	I would like to develop new channels to promote and distribute my products/services.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set4Q5"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%;  color:#000;" v-if="pageNumber == 5">
                        <tbody style="height: 100%;">
                            <tr>
                                <th style="width: 80%;">Questions</th>
                                <th style="width: 20%;">Rating</th>
                            </tr>
                            <tr>
                                <td>1)	I need professional market research on the countries I intend to enter.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set5Q1"></td>
                            </tr>
                            <tr>
                                <td>2)	I require legal advice on setting up business overseas.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set5Q2"></td>
                            </tr>
                            <tr>
                                <td>3)	I want to expand my business overseas.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set5Q3"></td>
                            </tr>
                            <tr>
                                <td>4)	I am finding the local market unprofitable.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set5Q4"></td>
                            </tr>
                            <tr>
                                <td>5)	I need suitable partners to go overseas with, and share profits with them.</td>
                                <td><input type="number" onClick="this.select();" class="form-control mb-3" max=5 min=1 v-model="Set5Q5"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <button class="btn btn-light pull-left" style="width: 119px;" v-if="pageNumber == 2 || pageNumber == 3 || pageNumber == 4 || pageNumber == 5" @click="previousPage()">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                        <button class="btn btn-light pull-right" style="width: 119px;" v-if="pageNumber == 1 || pageNumber == 2 || pageNumber == 3 || pageNumber == 4" @click="nextPage()">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                        <button class="btn btn-light pull-right" v-if="pageNumber == 5" @click="submitAnswer()">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                </div>
              </div>
            </div>
        </div>


    </div>

    
{% endblock %}


