{% extends 'base.html' %}
{%load static%}
{% block content %}

    <style>
        thead, tbody { display: block; }

        tbody {
            height: 100px;       /* Just for the demo          */
            overflow-y: auto;    /* Trigger vertical scroll    */
            overflow-x: hidden;  /* Hide the horizontal scroll */
        }
    </style>
    
    <div class="container" id="user_profile">
        {% csrf_token %}
        <div class="row">
            <form class="col-12">
                <fieldset>
                    <legend>User Infomation:</legend>
                    <div class="row">
                        <div class="col-6">
                            <label for="fname">First Name:</label>
                            <input class="form-control mb-2 text-white" type="text" id="fname" name="fname" v-model= "profile_data.firstName" readonly>
                            <label for="companyName">Company Name:</label>
                            <input class="form-control mb-2 text-white" type="email" id="companyName" name="companyName" v-model= "profile_data.companyName" readonly>
                            <label for="address1">Address 1:</label>
                            <input class="form-control mb-2 text-white" type="text" id="address1" name="address1" v-model= "profile_data.address1" readonly>
                            <label for="city">City:</label>
                            <input class="form-control mb-2 text-white" type="text" id="city" name="city" v-model= "profile_data.city" readonly>
                        </div>
                        <div class="col-6">
                            <label for="lname">Last Name:</label>
                            <input class="form-control mb-2 text-white" type="text" id="lname" name="lname" v-model= "profile_data.lastName" readonly>
                            <label for="industryName">Industry Name:</label>
                            <input class="form-control mb-2 text-white" type="text" id="industryName" name="industryName" v-model= "profile_data.industryName" readonly>
                            <label for="address2">Address 2:</label>
                            <input class="form-control mb-2 text-white" type="text" id="address2" name="address2" v-model= "profile_data.address2" readonly>
                            <label for="zipCode">Zip Code:</label>
                            <input class="form-control mb-2 text-white" type="text" id="zipCode" name="zipCode" v-model= "profile_data.zipCode" readonly>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="col-12 mb-3">
                <div class="card-deck">
                    <div class="card col-6">
                        <i class="far fa-id-badge align-self-center pt-3 pb-3 fa-10x" aria-hidden="true"></i>
                        <div class="card-body align-self-center">  
                            <button @click="openEditUserProfileModal()" class="btn btn-lg btn-dark">Edit User Information</button>  
                        </div>
                    </div>
                    <div class="card col-6">
                        <i class="far fa-newspaper align-self-center pt-3 pb-3 fa-10x" aria-hidden="true"></i>
                        <div class="card-body align-self-center">  
                            <button @click='openQuestionaireSelectModel()' class="btn btn-lg btn-dark">Edit Questionair</button>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card-deck">
                    <div class="card col-6">
                        <i class="fas fa-shopping-cart align-self-center pt-3 pb-3 fa-10x" aria-hidden="true"></i>
                        <div class="card-body align-self-center">
                            <button @click="openPaymentHistoryModal()" class="btn btn-lg btn-dark">Payment History</button> 
                        </div>
                    </div>
                    <div class="card col-6">
                        <i class="fa fa-file-pdf align-self-center pt-3 pb-3 fa-10x" aria-hidden="true"></i>
                        <div class="card-body align-self-center">  
                            <button @click="getPurchasedReport()" class="btn btn-lg btn-dark">Purchased Report</button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="paymentHistory" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document" style="width: 59vh; max-width: 100vh;">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h2 class="modal-title text-white">Payment History</h5>
                </div>
                <div class="modal-body" style="height: 35vh; max-height: 35vh;">
                  <table class="table table-striped" style="width: 100%;">
                    <tbody style="height: 31vh; padding-left: 5vh;">
                    <tr>
                        <th class="text-white" style="width: 20%; text-align: center;">Amount</th>
                        <th class="text-white" style="width: 20%; text-align: center;">Currency</th>
                        <th class="text-white" style="width: 60%; text-align: center;">Data</th>
                        </tr>
                        <tr v-for="history in payment_history">
                        <td class="text-white" style="text-align: center;">[$ history.charges $]</td>
                        <td class="text-white" style="text-transform: uppercase; text-align: center;">[$ history.currency $]</td>
                        <td class="text-white" style="text-align: center;">[$ history.created $]</td>
                        </tr>
                    </tbody>
                    
                  </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="editUserProfile" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document" style="width: 80vh; max-width: 100vh;">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h2 class="modal-title text-white">Edit Profile</h5>
                </div>
                <div class="modal-body mb-2">
                    <div class="row">
                        <form class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <label class="text-white" for="fname">Email: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.email == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-white': true}]" type="text" id="fname" name="fname" v-model= "profile_edit.email" required>
                                </div>
                                <div class="col-6">
                                    <label class="text-white" for="fname">First Name: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.firstName == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-white': true}]" type="text" id="fname" name="fname" v-model= "profile_edit.firstName">
                                    <label class="text-white" for="companyName">Company Name: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.companyName == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-white': true}]" type="text" id="companyName" name="companyName" v-model= "profile_edit.companyName" required>
                                    <label class="text-white" for="address1">Address 1: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.address1 == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-white': true}]" type="text" id="address1" name="address1" v-model= "profile_edit.address1" required>
                                    <label class="text-white" for="city">City: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.city == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-white': true}]" type="text" id="city" name="city" v-model= "profile_edit.city" required>
                                </div>
                                <div class="col-6">
                                    <label class="text-white" for="lname">Last Name: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.lastName == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-white': true}]" type="text" id="lname" name="lname" v-model= "profile_edit.lastName" required>
                                    <label class="text-white" for="industryName">Industry Name: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.industryName == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-white': true}]" type="text" id="industryName" name="industryName" v-model= "profile_edit.industryName" readonly required>
                                    <label class="text-white" for="address2">Address 2:</label>
                                    <input :class=" [{'border': true}, {'form-control': true}, {'mb-2': true}, {'text-white': true}]" type="text" id="address2" name="address2" v-model= "profile_edit.address2">
                                    <label class="text-white" for="zipCode">Zip Code: <span class="text-danger">*</span></label>
                                    <input :class=" [{ 'border-danger': profile_edit.zipCode == '' }, {'border': true}, {'form-control': true}, {'mb-2': true}, {'text-white': true}]" type="text" id="zipCode" name="zipCode" v-model= "profile_edit.zipCode" required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                    <button type="button" @click="validateAllField()" class="btn btn-secondary">Submit</button> 
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="questionaireSelect" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="max-width: 100vh; margin-top: 15vh;">
              <div class="modal-content bg-dark">
                <div class="modal-body mb-2">
                    <div class="row">
                        <div class="card-deck col-12" style="margin: auto;">
                            <div class="card col-6">
                                <i class="fas fa-money-bill-wave align-self-center pt-3 pb-3 fa-10x" aria-hidden="true"></i>
                                <div class="card-body align-self-center">
                                    <button @click='getFinancialData()' class="btn btn-lg btn-dark">Edit Financial Data</button> 
                                </div>
                            </div>
                            <div class="card col-6">
                                <i class="fas fa-sort-amount-down align-self-center pt-3 pb-3 fa-10x" aria-hidden="true"></i>
                                <div class="card-body align-self-center">  
                                    <button class="btn btn-lg btn-dark">Edit Qualitative Data</button>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="editFinancialData" tabindex="-1" role="dialog" style="overflow: auto;" data-backdrop="static">
            <div class="modal-dialog" role="document" style="max-width: 100vh; max-height: 0vh;">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h2 class="modal-title text-white">Edit Financial Data</h5>
                </div>
                <div class="modal-body mb-2">
                    <div id="accordion">
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">Quater 1 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse1" class="show collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="revenue">Revenue (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="revenue" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q1_revenue'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="profit_b4_tax" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q1_profit_before_tax'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="net_profit">Net Profit (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_profit" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q1_net_profit'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">Quater 2 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="revenue">Revenue (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="revenue" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q2_revenue'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="profit_b4_tax" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q2_profit_before_tax'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="net_profit">Net Profit (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_profit" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q2_net_profit'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">Quater 3 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="revenue">Revenue (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="revenue" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q3_revenue'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="profit_b4_tax" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q3_profit_before_tax'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="net_profit">Net Profit (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_profit" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q3_net_profit'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">Quater 4 Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="revenue">Revenue (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="revenue" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q4_revenue'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="profit_b4_tax">Profit Before Tax (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="profit_b4_tax" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q4_profit_before_tax'>
                                            </div>
                                            <div class="col-4 d-inline-block input-group">
                                                <label for="net_profit">Net Profit (Thousand)</label>
                                                <input type="number" onClick="this.select();" name="net_profit" class="form-control" style="width: 100% !important;" v-model='user_financial_data.q4_net_profit'>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseOne">Yearly Financial Data Record</button>
                                </h5>
                                </div>
                                
                                <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <fieldset>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="yearly_revenue">Yearly Revenue (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="yearly_revenue" class="form-control" style="width: 100% !important;" v-model='user_financial_data.yearly_revenue'>

                                                    <label for="yearly_net_profit">Yearly Net Profit (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="yearly_net_profit" class="form-control" style="width: 100% !important;" v-model='user_financial_data.yearly_net_profit'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="cash">Cash (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="cash" class="form-control" style="width: 100% !important;" v-model='user_financial_data.cash'>

                                                    <label for="net_assets">Net Asset (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="net_assets" class="form-control" style="width: 100% !important;" v-model='user_financial_data.net_assets'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="debt">Debt (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="debt" class="form-control" style="width: 100% !important;" v-model='user_financial_data.debt'>

                                                    <label for="total_debt">Total Debt (Thousand)</label>
                                                    <input type="number" onClick="this.select();" name="total_debt" class="form-control" style="width: 100% !important;"  v-model='user_financial_data.total_debt'>
                                                </div>
                                            </fieldset>

                                            <hr class="border border-light">

                                            <fieldset>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="current_ratio">Current Ratio</label>
                                                    <input type="number" onClick="this.select();" name="current_ratio" class="form-control" style="width: 100% !important;"  v-model='user_financial_data.current_ratio'>

                                                    <label for="return_on_asset">Return On Asset</label>
                                                    <input type="number" onClick="this.select();" name="return_on_asset" class="form-control" style="width: 100% !important;" v-model='user_financial_data.return_on_asset'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="quick_ratio">Quick Ratio</label>
                                                    <input type="number" onClick="this.select();" name="quick_ratio" class="form-control" style="width: 100% !important;" v-model='user_financial_data.quick_ratio'>

                                                    <label for="asset_turn_over_ratio">Asset Turn Over Ratio</label>
                                                    <input type="number" onClick="this.select();" name="asset_turn_over_ratio" class="form-control" style="width: 100% !important;" v-model='user_financial_data.asset_turn_over_ratio'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="cash_ratio">Cash Ratio</label>
                                                    <input type="number" onClick="this.select();" name="cash_ratio" class="form-control" style="width: 100% !important;" v-model='user_financial_data.cash_ratio'>

                                                    <label for="debt_to_asset_ratio">Debt To Asset Ratio</label>
                                                    <input type="number" onClick="this.select();" name="debt_to_asset_ratio" class="form-control" style="width: 100% !important;" v-model='user_financial_data.debt_to_asset_ratio'>
                                                </div>
                                                <div class="col-4 d-inline-block input-group">
                                                    <label for="net_tangeble_asset">Net Tangable Asset</label>
                                                    <input type="number" onClick="this.select();" name="net_tangeble_asset" class="form-control" style="width: 100% !important;" v-model='user_financial_data.net_tangeble_asset'>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                    <button type="button" @click="updateFinancialData()" class="btn btn-secondary">Submit</button> 
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="purchasedReport" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document" style="width: 80vh; max-width: 100vh;">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h2 class="modal-title text-white">Purchased Report</h5>
                </div>
                <div class="modal-body" style="height: 35vh;">
                  <table class="table table-striped" style="width: 100%;">
                    <tbody style="height: 31vh;">
                        <tr>
                            <th class="text-white" style="width: 70%; text-align: center;">Putchased Date</th>
                            <th class="text-white" style="width: 30%; text-align: center;">URL</th>
                          </tr>
                          <tr v-for="report in user_purchased_report">
                            <td class="text-white" style="text-align: center;">[$ report.purchaseDate $]</td>
                            <td class="text-white" style="text-transform: uppercase; text-align: center;"><button class="btn btn-info btn-md" @click="openReport(report.url)"><i class="fas fa-file-download mr-2"></i>DOWNLOAD</button></td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                </div>
              </div>
            </div>
        </div>
    </div>

    
{% endblock %}


