{% extends 'base.html' %}
{% block content %}
    <div class="row" id="liquidityPillarPage">
        <h1>Liquidity</h1>
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col-md-6 mb-3">
                    <div class="card-deck h-100">
                        <div class="card card-chart w-100">
                            <div class="card-body" style="overflow: auto;">
                                <h3>Quick Ratio vs Current Ratio vs Cash Ratio</h3>
                                <canvas id="liquidity_pillars"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="card-deck h-100">
                        <div class="card card-chart w-100">
                            <div class="card-header">
                                <ul class="nav nav-pills nav-fill">
                                    <li class="nav-item">
                                        <a :class="[{'nav-link':true}, {'active':info}]" @click="showInfo" href="#">Info</a>
                                      </li>
                                      <li class="nav-item">
                                        <a :class="[{'nav-link':true}, {'active':comments}]" @click="showComment" href="#" >Comments</a>
                                      </li>
                                      <li class="nav-item">
                                        <a :class="[{'nav-link':true}, {'active':suggestion}]" @click="showSuggestion" href="#">Suggestion</a>
                                      </li>
                                </ul>
                            </div>
                            <div class="card-body" style="overflow: auto; max-height: 40vh;">
                                <table class="table" v-if='info'>
                                    <tr>
                                        <td style="font-size: 1rem;">Liquidity refers to the ease with which an asset, or security, can be converted into ready cash without affecting its market price</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1rem;">Every asset has their own places on the liquidity spectrum.</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1rem;">Cash is universally considered the most liquid asset because it can most quickly and easily be converted into other assets.</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1rem;">Liquidity is important for learning how easily a company can pay off it’s short term liabilities and debts.</td>
                                    </tr>
                                     <tr>
                                        <td style="font-size: 1rem;">Liquidity refers to the ease with which an asset, or security, can be converted into ready cash without affecting its market price.</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1rem;">Every asset has their own places on the liquidity spectrum .</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1rem;">Cash is universally considered the most liquid asset because it can most quickly and easily be converted into other assets.</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1rem;">Liquidity is important for learning how easily a company can pay off it’s short term liabilities and debts.</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1rem;">In measuring liquidity, values such as the companies current ratio, quick ratio and cash ratio are important.</td>
                                    </tr>

                                </table>
                                <table class="table" v-if="comments">
                                    <tr v-for="comment in liquidity_comment">
                                        <td style="font-size: 1rem;">[$ comment $]</td>
                                    </tr>
                                </table>
                                <table class="table" v-if="suggestion">
                                    <tr v-for="suggestion in liquidity_suggestion">
                                        <td style="font-size: 1rem;">[$ suggestion $]</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col">
                    <div class="card-deck h-100">
                        <div class="card card-chart w-100">
                            <div class="card-header">
                                <ul class="nav nav-pills nav-fill">
                                    <li class="nav-item">
                                        <a :class="[{'nav-link':true}, {'active':articles}]" @click="showArticles" href="#">Articles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a :class="[{'nav-link':true}, {'active':videos}]" @click="showVideos" href="#">Videos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a :class="[{'nav-link':true}, {'active':networking}]" @click="showNetworking" href="#">Networking</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <table class="w-100 table" v-if='articles' >
                                    <tr>
                                        <th class="text-white" style="width: 20%;">Title</th>
                                        <th class="text-white" style="width: 60%;">Description</th>
                                        <th class="text-white text-center" style="width: 20%;">Site</th>
                                    </tr>
                                    <tr v-for="article in recommanded_articles" @click="goToArticle(article.url)">
                                        <td class="text-light">[$ article.title $]</td>
                                        <td class="text-light text-justify">[$ article.description $]</td>
                                        <td class="text-light text-center">[$ article.siteName $]</td>
                                    </tr>
                                </table>
                                <table class="w-100 table table-hover" v-if='videos'>
                                    <tr>
                                        <th></th>
                                        <th class="text-white">Title</th>
                                        <th class="text-white">Channel</th>
                                    </tr>
                                    <tr v-for="video in youtube_videos" @click="goToVideo(video.id)">
                                        <td><img class="img-thumbnail" :src="video.snippet.thumbnails.default.url" alt=""></td>
                                        <td class="text-light">[$ video.snippet.title $]</td>
                                        <td class="text-light">[$ video.snippet.channelTitle $]</td>
                                    </tr>
                                </table>
                                <table class="w-100 table" v-if='networking'>
                                    <tr>
                                        <th style="width: 20%"></th>
                                        <th style="width: 40%" class="text-white text-center">Name</th>
                                        <th style="width: 40%" class="text-white">Skills</th>
                                    </tr>
                                    <tr v-for ="people in people_networking" @click="goToLinkedin(people.url)">
                                        <td class="text-center">
                                            <img class="img-thumbnail" :src="people.thumbnails" v-if="people.thumbnails != ''">
                                            <i class="fas fa-user-tie" v-else></i>
                                        </td>
                                        <td class="text-light text-center">[$ people.name $]</td>
                                        <td class="text-light">
                                            <ul>
                                                <li v-for="skills in people.skills">[$ skills $]</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}