{% extends 'base.html' %}
{% block content %}
    <div class="row" id="profitPillarPage">
        {% csrf_token %}
        <h1>Profitability</h1>
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col-md-6 mb-3">
                    <div class="card-deck h-100">
                        <div class="card card-chart w-100">
                            <div class="card-body" style="overflow: auto;">
                                <canvas id="profit_pillars"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="card-deck h-100">
                        <div class="card card-chart w-100">
                            <div class="card-header">
                                <ul class="nav nav-pills nav-fill">
                                    <li class="nav-item">
                                      <a :class="[{'nav-link':true}, {'active':info}]" @click="showInfo" href="#">Info</a>
                                    </li>
                                    <li class="nav-item">
                                      <a :class="[{'nav-link':true}, {'active':comments}]" @click="showComment" href="#" >Comments</a>
                                    </li>
                                    <li class="nav-item">
                                      <a :class="[{'nav-link':true}, {'active':suggestion}]" @click="showSuggestion" href="#">Suggestion</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" style="overflow: auto; max-height: 40vh;">
                                <table class="table" v-if="info">
                                    <tr>
                                        <td style="font-size: 1rem;">Profitability is a metric used to determine the scope of a company's profit in relation to the size of the business.</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1rem;">It can also be defined as a business's ability to produce a return on an investment based on its resources in comparison with an alternative investment.</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1rem;">Companies can realize a profit, but not be profitable.</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 1rem;">Financial values such as the companies ROA, sales growth, profit margin and ROE are of the utmost importance when measuring Profitability.</td>
                                    </tr>
                                </table>
                                <table class="table" v-if="comments">
                                    <tr v-for="comment in profit_comment">
                                        <td style="font-size: 1rem;">[$ comment $]</td>
                                    </tr>
                                </table>
                                <table class="table" v-if="suggestion">
                                    <tr v-for="suggestion in profit_suggestion">
                                        <td style="font-size: 1rem;">[$ suggestion $]</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col">
                    <div class="card-deck h-100">
                        <div class="card card-chart w-100">
                            <div class="card-header">
                                <ul class="nav nav-pills nav-fill">
                                    <li class="nav-item">
                                      <a :class="[{'nav-link':true}, {'active':articles}]" @click="showArticles" href="#">Articles</a>
                                    </li>
                                    <li class="nav-item">
                                      <a :class="[{'nav-link':true}, {'active':videos}]" @click="showVideos" href="#">Videos</a>
                                    </li>
                                    <li class="nav-item">
                                      <a :class="[{'nav-link':true}, {'active':networking}]" @click="showNetworking" href="#">Networking</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <table class="w-100 table" v-if='articles' >
                                    <tr>
                                        <th class="text-white" style="width: 20%;">Title</th>
                                        <th class="text-white" style="width: 60%;">Description</th>
                                        <th class="text-white text-center" style="width: 20%;">Site</th>
                                    </tr>
                                    <tr v-for="article in recommanded_articles" @click="goToArticle(article.url)">
                                        <td class="text-light">[$ article.title $]</td>
                                        <td class="text-light text-justify">[$ article.description $]</td>
                                        <td class="text-light text-center">[$ article.siteName $]</td>
                                    </tr>
                                </table>
                                <table class="w-100 table table-hover" v-if='videos'>
                                    <tr>
                                        <th></th>
                                        <th class="text-white">Title</th>
                                        <th class="text-white">Channel</th>
                                    </tr>
                                    <tr v-for="video in youtube_videos" @click="goToVideo(video.id)">
                                        <td><img class="img-thumbnail" :src="video.snippet.thumbnails.default.url" alt=""></td>
                                        <td class="text-light">[$ video.snippet.title $]</td>
                                        <td class="text-light">[$ video.snippet.channelTitle $]</td>
                                    </tr>
                                </table>
                                <table class="w-100 table" v-if='networking'>
                                    <tr>
                                        <th style="width: 20%"></th>
                                        <th style="width: 40%" class="text-white text-center">Name</th>
                                        <th style="width: 40%" class="text-white">Skills</th>
                                    </tr>
                                    <tr v-for ="people in people_networking" @click="goToLinkedin(people.url)">
                                        <td class="text-center">
                                            <img class="img-thumbnail" :src="people.thumbnails" v-if="people.thumbnails != ''">
                                            <i class="fas fa-user-tie" v-else></i>
                                        </td>
                                        <td class="text-light text-center">[$ people.name $]</td>
                                        <td class="text-light">
                                            <ul>
                                                <li v-for="skills in people.skills">[$ skills $]</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}